.entero
{
   
    color: blue;

}
.variable
{
   
    color:rgb(5, 161, 161);

}
.operador
{
   
    color: rgb(106, 17, 17);

}
.comentario
{
   
    color:green;

}
.real
{
   
    color: rgb(194, 194, 39);

}
.asignacion
{
   
    color: rgb(146, 13, 84);

}
.parentesis
{
   
    color:purple;

}

.Error
{
   
    color:red;

}

.row {
    white-space: nowrap;
  }
  
.row > div {
    width: 30px;
    display: inline-block;
  }